@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 52%), url(https://wallpapercave.com/wp/wp3638064.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

h1, p {
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 3px;
    text-transform: capitalize;
}

.title:after {
    content: '';
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 2px;
    background: white;
}

form {
    max-width: 650px;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, .2);
    margin: 40px auto;
    background: rgba(51, 51, 51, .8);
    box-shadow: 0 25px 45px rgba(102, 102, 102, 0.2);
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: white;
}

input, select, textarea {
    height: 40px;
    padding: 0 10px;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    background: whitesmoke;
    font-size: 1rem;
    transition: .3s all ease-in-out;
    font-weight: 400;
}

input[type="text"]:focus, input[type="email"]:focus,input[type="number"]:focus, select:focus, textarea:focus  {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgb(0,123,255, .25);
}

textarea {
    padding: 8px 10px;
    height: 150px;
}

button {
    cursor: pointer;
    border: 0;
    padding: 12px;
    border-radius: 4px;
    background: rebeccapurple;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    color: white;
    box-shadow: 0 10px 20px -10px rebeccapurple;
    transition: .3s all ease-in-out;
}

button:focus, button:hover {
    box-shadow: 0 0 5px rebeccapurple;
}

small {
    font-weight: 400;
}

.radioBase {
    display: flex;
    flex-direction: column;
}

.formGroupRadio > *, .formGroupCheckbox > * {
    margin-right: 10px;
}

.formGroupRadio, .formGroupCheckbox {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: -5px;
    width: 17px;
    background: red !important;
}

.formGroupRadio label, .formGroupCheckbox label {
    font-size: 1.1rem;
    font-weight: 400;
}

.contentRadio, .contentCheckbox {
    margin-bottom: 20px;
    margin-top: -20px;
}


@media (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: .8rem;
    }
    form {
        max-width: 550px;
    }
}
